{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
   <link href="{% static 'css/product.css' %}" rel="stylesheet" />
<style>

.custom-background{
  background-color:rgb(255, 255, 255);
}

  .hero-section {
    min-height: 70vh;
    background-image: url('{% static "images/biblioteca.png" %}');
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}
  
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: #0000001a;
        border: solid rgba(0, 0, 0, 0.15);
        border-width: 1px 0;
        box-shadow:
          inset 0 0.5em 1.5em #0000001a,
          inset 0 0.125em 0.5em #00000026;
      }
      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }
      .bi {
        vertical-align: -0.125em;
        fill: currentColor;
      }
      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }
      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }
      .bd-mode-toggle {
        z-index: 1500;
      }
      .bd-mode-toggle .bi {
        width: 1em;
        height: 1em;
      }
      .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
      }
    </style>


 <main>
      <div class="hero-section">
        <div class="col-md-6 p-lg-5 mx-auto my-5">
          <h1 class="display-3 fw-bold" style="color: rgb(232, 221, 178);">MyShelf App</h1>
          <h3 class="display-7" style="color: rgb(5, 5, 5);">Relax with your favourite books here</h3>
          
        </div>
      </div>
      <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden custom-background">
          <div class="my-3 py-3">
            <h2 class="display-6">Our recommendation for today is </h2>
          </div>
          <div class="mx-auto">
                <img src="{{ book.img }}" alt="Book Cover" style="width: 40%; height: 130%; object-fit:fill;">
                <h5><Strong>{{ book.title }} by {{book.author}}</Strong></h5>
                <a href="{% url 'details-book' book.id %}" class = "btn mt-1" style="background-color:rgb(232, 221, 178); color: rgb(0, 0, 0);">More about this book</a>
          </div>
        </div>

        
        <div class=" me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h3 class="display-6">Remarkable quotes you might not know:</h3>
          </div>

           <div class="mx-auto">
            <p> <strong>Plato:</strong>”Wise men speak because they have something to say; fools because they have to say something.”
                 <br>
                  Meaning: Value thoughtfulness and meaning in speech over empty chatter.</p>
                <br>

              <img src="{% static 'images/plato.png' %}"class="rounded mx-auto d-block" alt="Plato" style="width: 15%; height: 100%; object-fit:fill;">
                <br>
               <p> <strong>Marcus Aurelius</strong> “You have power over your mind—not outside events. Realize this, and you will find strength.”
                <br>
                  Meaning: Stoicism teaches that control over our thoughts leads to resilience, not external circumstances.</p>
                <br>
                  <img src="{% static 'images/Marcus.png' %}" class="rounded mx-auto d-block" alt="MarcusAurelius" style="width: 22%; height: 100%; object-fit:fill;">
                  <br>
                   <br>
                   <a href="{% url 'list-books-per-category' 27 %}" class = "btn mt-1" style="background-color:rgb(232, 221, 178); color: rgb(0, 0, 0);">Find their popular books right here</a>
          </div>

          </div>        

              
          </div>

        </div>
      </div>
    <footer class="text-center mt-5 p-4 bg-light border-top">
    <p class = "mb-1">©2026 MyShelf App</p>
 

    </main>

{% endblock %}