{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock %}

{% block content %}
<style>
.login-background {
    min-height: 100vh;
    background-image: url('{% static "images/biblioteca.png" %}');
    background-size:100% 100%;
    background-position: top;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 20px 20px 20px ; 
}

.login-card {
    position: absolute;
    top:120px;
    left:100px;
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.7); 
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 30px rgba(0,0,0,0.3);
    overflow: hidden;
}
</style>

<div class="container-fluid login-background">
    <div class="login-card card">
        <div class="card-header text-center" style="background-color:rgb(232, 221, 178); color: rgb(0, 0, 0); border-top-left-radius: 15px; border-top-right-radius: 15px;">
            <h3>🕮Login🕮</h3>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="card-body">
                {{ form }}
            </div>
            <div class="card-footer text-center" style="background-color: rgb(232, 221, 178); border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
                <button type="submit" class="btn btn-primary" style="background-color: rgb(0, 0, 0); border: none;">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
