{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h3>Select category to delete</h3>

    <ul class="list-group">
        {% for category in categories %}
            <li class="list-group-item d-flex justify-content-between">
                {{ category.name }}
                <a href="{% url 'delete-category' pk=category.id %}"
                   class="btn btn-danger btn-sm">
                   Delete
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
