{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock %}

{% block content %}
<style>
.delete_book-background {
    min-height: 100vh;
    background-image: url('{% static "images/image.png" %}');
    background-size:contain;
    background-position: center;
    background-repeat:repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 20px 20px 20px ; 
}

.delete_book-card {
    width: 100%;
    max-width: 450px;
    border-radius: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.7); 
    backdrop-filter: blur(50px);
    box-shadow: 0 8px 30px rgba(0,0,0,0.3);
    overflow: hidden;
}
</style>
    <div class="container-fluid delete_book-background">
        <div class="delete_book-card card">
            <div class="card-header text-center" style="background-color:rosybrown; color: white; border-top-left-radius: 15px; border-top-right-radius: 15px;">
                <h4 class="text-center"> Deleting {{ book.title }}?</h4>
            </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                                <p>Publication Year: {{ book.publication_year }}</p>
                                <p>Publisher: {{ book.publisher }}</p>
                                <p>Pages: {{ book.pages }}</p>
                                <p>Genre: {{ book.genre }}</p>
                                <p>Language: {{ book.language }}</p>
                                <p>Cover: {{book.cover}}</p>
                                <p>Category: {{book.category}}</p>
                        </div>
                        <div class="card-footer text-center" style="background-color: rosybrown; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
                            <button type="submit" class="btn btn-primary" style="background-color: rgb(53, 23, 2); border: none;">Yes</button>
                            <a href="{% url 'list-books' %}" class="btn btn-secondary">No</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}