{% extends 'base.html' %}

{% block title %} Delete a book{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6  offset-md-3">
                <br><br>
                <div class="card">

                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <h4 class="text-center"> Deleting {{ book.title }}?</h4>
                            <p class="text-left" style="color: blue;">More about this book:</p>
                                Publication Year: {{ book.publication_year }}<br>
                                Publisher: {{ book.publisher }}<br>
                                Pages: {{ book.pages }}<br>
                                Genre: {{ book.genre }}<br>
                                Language: {{ book.language }}<br>
                                Cover: {{book.cover}}<br>
                                Category: {{book.category}}<br>
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a href="{% url 'list-books' %}" class="btn btn-outline-secondary">No</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}