{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row g-4">

        {% for book in books %}
        <div class="col-md-4 col-lg-3">
            <div class="card h-100 shadow-sm">

                <img src="{{ book.img }}"
                     class="card-img-top"
                     style="height:400px; object-fit: cover ;"
                     alt="{{ book.title }}">

                <div class="card-body d-flex flex-column">

                    <h5 class="card-title fw-bold">
                        {{ book.title }}
                    </h5>

                    <ul class="list-unstyled small mb-2">
                        <li><strong>Author:</strong>{{ book.author }}</li>
                        <li><strong>Year of publish:</strong>{{ book.publication_year }}</li>
                        <li><strong>Publisher:</strong> {{ book.publisher }}</li>
                        <li><strong>Pages:</strong> {{ book.pages }}</li>
                        <li><strong>Genre:</strong> {{ book.genre }}</li>
                        <li><strong>Language:</strong> {{ book.language }}</li>
                        <li><strong>Cover:</strong> {{ book.cover }}</li>
                        <li><strong>Description:</strong> {{ book.description }}</li>
                           <strong>Your rating:</strong>
                        <span class="text-muted"></span>
                        <br>
                    
                        {% for rating in ratings %}
        
                            {% if book.id == rating.book.id %}
        
                          {% for _ in ""|center:rating.rating %}
  ⭐
{% endfor %}

                            {% endif %}
                        {% endfor %}
                        <br>
                        <a href="{% url 'add-review' book.id %}" class = "btn mt-2" style="background-color:rgb(53, 23, 2); color: white;">Add Review</a>

                    </ul>
                                 
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
