{% extends 'base.html' %}
{% load static %}
{% block title %} Add a new book {% endblock %}

{% block content %}
<style>
.update_book-background {
    min-height: 100vh;
    background-image: url('{% static "images/biblioteca.png" %}');
    background-size:100% 100%;
    background-position: top;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 20px 20px 20px ; 
}

.update_book-card {
    width: 100%;
    max-width: 450px;
    border-radius: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.7); 
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 30px rgba(0,0,0,0.3);
    overflow: hidden;
}
</style>
    <div class="container-fluid update_book-background">
        <div class="update_book-card card">
            <div class="card-header text-center" style="background-color:rgb(232, 221, 178); color: rgb(0, 0, 0); border-top-left-radius: 15px; border-top-right-radius: 15px;">
                     <h3 class="text-center">🕮UPDATE BOOK🕮</h3>
            </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="card-body">
                            <p>Title: {{ book.title }} </p>
                            <p>Author: {{ book.author }} </p>
                            <p>Cover: {{ book.cover }} </p>
                            {{ form }}

                        </div>
                        <div class="card-footer text-center" style="background-color: rgb(232, 221, 178); border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
                            <button type="submit" class="btn btn-success">Save</button>
                            <a href="{% url 'list-books' %}" class="btn btn-danger" >Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}